@import "variables.scss";

.homePage {
  background-color: red;
  width: 100vw;
  height: 100vh;
  display: inline;
}

.homePage-photo {
  width: 100vw;
  height: 100vh;
  //Background Cover
  background-image: url(https://images.pexels.com/photos/4552173/pexels-photo-4552173.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
}

.homePage-photo-textbox {
  //Centers the Text Box
  display: flex;
  align-items: center;
  justify-content: center;
  //Filter looking thing
  background-color: rgba(77, 9, 9, 0.158);
  height: 100%;
}

.homePage-photo-text {
  font-size: 4rem;
  color: $white;
  margin: 1rem;
  text-align: center;
}

.about {
  width: 80%;
  margin: auto;
}

.about-title {
  font-size: 2rem;
  margin: 0;
}

.about-text {
  font-size: 1rem;
  margin: 0;
}
