.homePage {
  background-color: red;
  width: 100vw;
  height: 100vh;
}

.homePage-photo {
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

.recipe-card {
  background-color: blanchedalmond;
  max-width: 10rem;
  height: 10rem;
  min-width: 8rem;
}
