@import "variables.scss";

.homePage {
  background-color: red;
  height: 100vh;
  display: inline;
}

.homePage-photo {
  height: 100vh;
  //Background Cover
  background-image: url(https://images.pexels.com/photos/4552173/pexels-photo-4552173.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(
    14% 95%,
    28% 100%,
    42% 95%,
    56% 100%,
    70% 95%,
    84% 100%,
    100% 95%,
    100% 0,
    0 0,
    0 100%
  );
}

.homePage-photo-textbox {
  //Centers the Text Box
  display: flex;
  align-items: center;
  justify-content: center;
  //Filter looking thing
}

.homePage-photo-text {
  font-size: 4rem;
  color: $white;
  margin: 1rem;
  text-align: center;
}
