@import "variables.scss";
* {
  box-sizing: border-box;
}

.recipes {
  width: 100vw;
  height: auto;
  background: rgb(243, 243, 243);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.recipe-card {
  width: 33%;
}

.recipe-card-box {
  width: 15rem;
  height: 20rem;
  background-color: rgb(133, 133, 133);
  padding: 1rem;
  position: relative;
}
