@import "variables";

@import "_recipeGrid";

* {
  text-decoration: none;
  overflow-wrap: anywhere;
}
body {
  font-size: 62.5%;
  background-color: $primary-main;
  padding-bottom: 1rem;
  margin: auto;
  text-decoration: none;
}
