@import "variables";
@import "_homePage";
@import "_about";
@import "_recipeGrid";
@import "_navbar.scss";
@import "_searchparams.scss";

body {
  font-size: 62.5%;
  background-color: salmon;
  padding-bottom: 1rem;
  margin: auto;
  text-decoration: none;
}

* {
  text-decoration: none;
  overflow-wrap: anywhere;
}
