// Variables
$primary-main: #880c17;
$primary-second: rgb(236, 236, 236);

$recipeBox-text: rgb(255, 255, 255);
$recipeBox-border: #ccc;
$recipe-btn-main: darkgoldenrod;
$recipe-btn-hover: darkred;
$faded-black: rgba(0, 0, 0, 0.452);

$white: #fff;
$black: #000;
$open-sans: "Open Sans", sans-serif;

.flex-align-jcontent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  background-color: rgba(77, 9, 9, 0.158);
  height: 100%;
}
