// Variables
$white: #fff;
$black: #000;
$open-sans: "Open Sans", sans-serif;

.flex-align-jcontent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  background-color: rgba(77, 9, 9, 0.158);
  height: 100%;
}
